<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lwz.mapper.RecordChatroomMapper" >
  <resultMap id="BaseResultMap" type="lwz.pojo.RecordChatroom" >
    <id column="ctid" property="ctid" jdbcType="INTEGER" />
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="record" property="record" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ctid, uid, record, date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lwz.pojo.RecordChatroomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from record_chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="lwz.pojo.RecordChatroomKey" >
    select 
    <include refid="Base_Column_List" />
    from record_chatroom
    where ctid = #{ctid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="lwz.pojo.RecordChatroomKey" >
    delete from record_chatroom
    where ctid = #{ctid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="lwz.pojo.RecordChatroomExample" >
    delete from record_chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lwz.pojo.RecordChatroom" >
    insert into record_chatroom (ctid, uid, record, 
      date)
    values (#{ctid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{record,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="lwz.pojo.RecordChatroom" >
    insert into record_chatroom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctid != null" >
        ctid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="record != null" >
        record,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctid != null" >
        #{ctid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="record != null" >
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lwz.pojo.RecordChatroomExample" resultType="java.lang.Integer" >
    select count(*) from record_chatroom
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update record_chatroom
    <set >
      <if test="record.ctid != null" >
        ctid = #{record.ctid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.record != null" >
        record = #{record.record,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update record_chatroom
    set ctid = #{record.ctid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      record = #{record.record,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lwz.pojo.RecordChatroom" >
    update record_chatroom
    <set >
      <if test="record != null" >
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ctid = #{ctid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="lwz.pojo.RecordChatroom" >
    update record_chatroom
    set record = #{record,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where ctid = #{ctid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>